<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script src="jquery.js"></script>
    <script src="highlight.min.js"></script>
    <script src="nav.js"></script>

    <!-- Code Monospace Font -->
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>

    <link rel="stylesheet" href="base.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="gevent.css">

    <!-- Syntax Highlighting Theme -->
    <link rel="stylesheet" href="github.min.css">

    <title>Gevent 튜토리얼</title>
</head>
<style>

</style>
<body>
<div class="container">

<div id="sidebar" class="three columns sidebar">
    <nav>
    </nav>
</div>

<div class="twelve columns offset-by-three content">

    <header>
        <h1>Python 개발자를 위한 <span class="green">gevent</span></h1>
        <h3 class="author">
            Written by the Gevent Community
        </h3>

        <blockquote>
        gevent는 <a href="http://software.schmorp.de/pkg/libev.html">libev</a>기반의 동시성 라이브러리 입니다. gevent는 동시성과 네트워크 관련 작업들을 위한 다양한 API를 제공합니다.
        </blockquote>
    </header>

    {{ body }}
</div>

</body>
</html>
